body{
    background-color: #F4F3EF;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1{
    font-weight: bold;
    color: #9875B7;
    margin-left: 2rem;
    margin-top: 5rem;   
}

h3{
    margin: 20rem 2rem 2rem 2rem;   
    text-align: center; 
    font-weight: 200;
    font-size: 20px;
}

.add_activity_button{
    height: 66px;
    width: 66px;
    background-color: #9875B7;
    border: none;
    border-radius: 33px;
    box-shadow: inset 0 2px 4px -2px  black;
    margin: auto;

    display: flex;
    align-items: center;
    justify-content: center;
}       

.fa-solid.fa-plus{
    font-size: 35px;
    color: #F4F3EF;
    display: flex;
}